@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

table {
  width: 100%;
  border-collapse: collapse;
  font-family: "PT Sans Narrow", sans-serif;
}

th {
  border: 2px black solid;
}

td {
  border: 1px black solid;
}

td:empty::after {
  content: "\00a0";
}

.row_current {
  background-color: yellow;
}

.row_error {
  background-color: red;
}

.row_current.row_error {
  background-color: orangered;
}
