@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border: 1px black solid;
    font-family: "PT Sans Narrow";
    font-size: "3em";
}

